<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Day 60 - HTML Forms</h1>

    <form action="/login" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="username" placeholder="name">
        <label for="password">Password</label>
        <input type="text" id="password" name="password" placeholder="password">
        <input type="submit" value="Ok">
    </form>
    
</body>
</html>