bleach==6.3.0
blinker==1.9.0
Bootstrap-Flask==2.2.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
dnspython==2.8.0
email-validator==2.3.0
Flask==2.3.2
Flask-CKEditor==0.4.6
Flask-Gravatar==0.5.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
Pygments==2.19.2
requests==2.32.3
rich==14.2.0
SQLAlchemy==2.0.45
titlecase==2.4.1
typing_extensions==4.12.2
urllib3==2.3.0
webencodings==0.5.1
Werkzeug==3.0.0
WTForms==3.0.1
