<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if books %}
      <ul>
        {% for item in books %}
        <li>
          {{item.title}} - {{item.author}} - {{item.rating}}/10
          <a href="{{ url_for('edit', book_id=item.id) }}">Edit Rating</a>
        </li> 
        {% endfor %}
      </ul>
      {% else %}
      <p>Library is empty.</p>
    {% endif %}

    <div>
      <a href="{{ url_for('add') }}">Add New Book</a>
    </div>
  </body>
</html>
