<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Update Rating</title>
  </head>
  <body>
    <!-- I need to add the name attribute to access these once submitted. -->
    <!-- <form action="{{ url_for('edit', book_id=book_id) }}" method="POST"> -->
    <form action="{{ url_for('edit', book_id=book.id) }}" method="POST">
        <div>
           <p><strong>Book Name:</strong> {{ book.title }}</p>
           <p><strong>Author:</strong> {{ book.author }}</p>
           <p><strong>Rating:</strong> {{ book.rating }}</p>
        </div>
        <div> 
        <input type="numeric" name="rating" placeholder="New Rating"/>
        <button type="submit">Update rating</button>
      </div>
    </form>
    <br>
    <a class="space-above" href="{{ url_for('home') }}">Go home</a>
  </body>
</html>
